﻿@{
    ViewBag.Title = "AddGreeting";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.2/fabric.min.js"></script>
<script src="~/Content/fontselect-jquery-plugin-master/jquery.fontselect.js"></script>
<link href="~/Content/fontselect-jquery-plugin-master/styles/fontselect-alternate.css" rel="stylesheet" />
<link href="~/Content/fontselect-jquery-plugin-master/styles/fontselect-default.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                    <form>


                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>canvassize</label>
                                    <select id="canvassize">
                                        <option value="1">450*650</option>
                                        <option value="2">650*450</option>
                                    </select>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>ImageUploader</label>
                                    <input type="file" id="imageUploadForm" />
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>BackGround Uploader</label>
                                    <input type="file" id="imageUploadForm1" />
                                </div>

                            </div>
                        </div>





                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type='color' id="colourid" class='basic' value='#f594d0' />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Select Font</label>
                                    <input id="font" type="text" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Add Text</label>
                                    <input type="text" id="Entertext" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">

                                    <input type="button" class="form-control"
                                           onclick="Addtext()" value="Add Text" />
                                </div>

                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">

                                    <button type="button" onclick="Deleteobj()" class="btn btn-info btn-fill pull-right">Delete</button>
                                </div>

                            </div>
                        </div>


                        <button type="button" onclick="Save()" class="btn btn-info btn-fill pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">

                <canvas id="ImgCanvas"></canvas>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                    <form>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Greeting Heading</label>
                                    <input type="text" class="form-control" id="Gdhdname" placeholder="GreetingHeading Name" value="Mike">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Greeting Description</label>
                                    <input type="text" class="form-control" id="Gddcptn" placeholder="Last Name" value="Andrew">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" placeholder="City" value="Mike">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="number" class="form-control" placeholder="ZIP Code">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                </div>
                            </div>
                        </div>
                        
                        <button type="button" onclick="saveImg();" class="btn btn-info btn-fill pull-right">Save</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <canvas id="c" width="450" height="650" style="border:1px solid #ccc"></canvas>
            </div>
        </div>
    </div>
</div>
<script>

   $("#canvassize").val()
   var canvas2 = document.getElementById('ImgCanvas');
   var context = canvas2.getContext('2d');
   canvas2.width = 450;
   canvas2.height = 650;
  
   //$("#canvassize").change(function () {
   //    debugger;
   //    if(this.val==1)
   //    {
   //        var canvas2 = document.getElementById('ImgCanvas');
   //        var context = canvas2.getContext('2d');
   //        canvas2.width = 450;
   //        canvas2.height = 650;
   //    }
   //    else
   //    {
   //        var canvas2 = document.getElementById('ImgCanvas');
   //        var context = canvas2.getContext('2d');
   //        canvas2.width = 650;
   //        canvas2.height = 450;
   //    }




   //});

    var apiUrl = "@System.Configuration.ConfigurationManager.AppSettings["localapiurl"].ToString()";

    // Since the `angle` property of the Image object is stored
    // in degrees, we'll use this to convert it to radians.


    var canvas = window._canvas = new fabric.Canvas('ImgCanvas');

    canvas.backgroundColor = '#ffffff';
    canvas.renderAll();

    
    function Deleteobj()
    {
     
        var activeObject = canvas.getActiveObject();
     
        canvas.remove(activeObject)
    }

    
    document.getElementById('imageUploadForm').onchange = function handleImage(e) {

        var formData = new FormData();
        var totalFiles = document.getElementById("imageUploadForm").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("imageUploadForm").files[i];
            formData.append("imageUploadForm", file);
        }


        $.ajax({
            type: "POST",
            url: '/Admin/Uploadimage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                fabric.Image.fromURL(result, function (img) {
                    img.left = 0;
                    img.top = 0;
                    img.width = 400;
                    img.height = 400;

                    // img.crossOrigin = "anonymous";
                    canvas.add(img);
                    canvas.sendToBack(img);
                    canvas.renderAll();
                    //canvas.sendToBack(img);
                });

            }
        });





    }




    document.getElementById('imageUploadForm1').onchange = function handleImage(e) {
       

        var formData = new FormData();
        var totalFiles = document.getElementById("imageUploadForm1").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("imageUploadForm1").files[i];
            formData.append("imageUploadForm1", file);
        }



        $.ajax({
            type: "POST",
            url: '/Admin/UploadBackground',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                fabric.Image.fromURL(result, function (img) {
                    img.left = 0;
                    img.top = 0;
                    img.width = 450;
                    img.height = 650;
                    img.evented = false;
                    img.hasControls = false;
                    // img.crossOrigin = "anonymous";
                    canvas.add(img);


                    canvas.renderAll();
                    //canvas.sendToBack(img);
                });

            }
        });
    }
    //fabric.Image.fromURL("http://localhost:55756/Files/ChocolateBirthdaycake-1506336281.png", function (img) {
    //    img.left = 0;
    //    img.top = 0;
    //    img.width = 400;
    //    img.height = 400;
    //    //img.crossOrigin = "anonymous";
    //    img.evented = false;
    //    img.hasControls = false;
    //    canvas.add(img);
    //    // canvas.selection = false;

    //});
    var FontFamily1 = "";
    $('#font').fontselect().change(function () {

        var font = $(this).val().replace(/\+/g, ' ');

        font = font.split(':');

        FontFamily1 = font[0];
        debugger;


        canvas.forEachObject(function (obj) {
            var resul = canvas.getActiveObject();
            debugger;
            if (obj === resul) {

                obj.set({ fill: $("#colourid").val() });
                obj.set({ fontFamily: FontFamily1 });
                obj.canvas.renderAll();

            }
        });
        //if (bdd != "") {sss


        //    bdd.target.setText('Selectedoooooooo');
        //}
       // $('p').css('font-family', font[0]);

    });


    function Addtext() {

        var fabicText = new fabric.IText($("#Entertext").val(), {
            fontFamily: FontFamily1,
            left: 100,
            top: 100,
            fill: $("#colourid").val()
        });
        canvas.add(fabicText);
        //canvas1.add(fabicText);
        //fabicText.set({ fill: $("#colourid").val() });
    }


    function SaveImage()
    {

    }

    // canvas.setActiveObject(fabicText);
    canvas.renderAll();
    //var oText = new fabric.IText('Tap and Type', {
    //    left: 100,
    //    top: 100,
    //});
    //canvas.add(oText);


    //canvas.bringToFront(oText);
    var bdd = "";
    canvas.on("object:selected", function (options) {
        debugger

        if (options.target.text) {

            bdd = options;
            options.target.bringToFront();
        }
    });

    function Save() {


        debugger;
      //  JSON.stringify(j);
        var json_data = canvas.toDatalessJSON();

        //var str ='{"objects":[{"type":"image","originX":"left","originY":"top","left":0,"top":0,"width":450,"height":650,"fill":"rgb(0,0,0)","stroke":null,"strokeWidth":0,"strokeDashArray":null,"strokeLineCap":"butt","strokeLineJoin":"miter","strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"clipTo":null,"backgroundColor":"","fillRule":"nonzero","globalCompositeOperation":"source-over","transformMatrix":null,"skewX":0,"skewY":0,"src":"http://localhost:57059/Background/God_Ganesh_Chaturthi_HD_Photos.jpg","filters":[],"resizeFilters":[],"crossOrigin":"","alignX":"none","alignY":"none","meetOrSlice":"meet"},{"type":"i-text","originX":"left","originY":"top","left":100,"top":100,"width":169.69,"height":52.43,"fill":"#f594d0","stroke":null,"strokeWidth":1,"strokeDashArray":null,"strokeLineCap":"butt","strokeLineJoin":"miter","strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"clipTo":null,"backgroundColor":"","fillRule":"nonzero","globalCompositeOperation":"source-over","transformMatrix":null,"skewX":0,"skewY":0,"text":"wellll come","fontSize":40,"fontWeight":"normal","fontFamily":"Calligraffitti","fontStyle":"","lineHeight":1.16,"textDecoration":"","textAlign":"left","textBackgroundColor":"","styles":{}}],"background":"#ffffff"}';
        //var ASA = JSON.parse(str);
        sdsdsd(json_data);


    }
    var canvas1 = window._canvas = new fabric.Canvas('c');

    
    function sdsdsd(json_data) {

        canvas1.clear();


        canvas1.loadFromJSON(json_data, canvas1.renderAll.bind(canvas1), function (o, object) {

            // fabric.log(o, object);
        });
        debugger;
        // var objectx = canvas.getObjects();
       // canvas1.item(1).evented = false;
       // canvas1.item(1).hasControls = false;
        //canvas.renderAll.bind(canvas);
        //objectx[1].hasControls = false;


    }
    var result = canvas1.getObjects()

    // result.set({ fill: $("#colourid").val() });
    function saveImg() {
        alert("sd");
        debugger;
        // result = canvas1.toSVG();
        var imageData = canvas1.toDataURL({
            format: 'jpeg',
            quality: 1,
           
        });

        imageData = imageData.replace('data:image/jpeg;base64,', '');
        var obj = {  };
        obj.base64=imageData;
        obj.Json=JSON.stringify(canvas1.toDatalessJSON()),
             obj.Gtypeid=1;
        obj.GimgTypeid= 1;
        obj.Gsubtypeid=1;
        obj.GDescription= $("#Gddcptn").val();
        obj.GheadingMessage = $("#Gdhdname").val();

      


        $.ajax({
            type: 'POST',
            url: '/Admin/AddGreetingss',
            data: obj,
            success: function (result) {
                debugger;
                if(result.Code==100)
                {
                    alert("succss");
                }
            }
        });
        //$('#svg-tag').html(result);
    }


    //function saveImg() {
    //    debugger;
    //    result = canvas1.toSVG();


    //    var uCanvas = document.getElementById("image");
    //    var ctx = canvas.getContext("2d");
    //    var pbx = document.createElement('img');

    //    pbx.style.width = 200;
    //    pbx.style.height = 200;

    //    pbx.src = 'data:image/svg+xml;base64,' + window.btoa(result.outerHTML);
    //    ctx.drawImage(pbx, 0, 0);

    //    var image = document.getElementById("image").toDataURL("image/png");
    //    image = image.replace('data:image/png;base64,', '');
    //    $.ajax({
    //        url: "/Home/SvaeFile?base64=" + image,
    //        type: "GET",
    //        success: function (result) {
    //            debugger;
    //            $("#div1").html(result);
    //        }
    //    });

    //    //$('#svg-tag').html(result);
    //}



    var object = "";
    canvas1.on('object:selected', function (e) {
        object = e;
        debugger;

        //e.target.setText('Selectedoooooooo');
    });



    function getimage() {
        debugger;
        var ds = $("#imgLocation").val();
    }


    //var canvas = window._canvas = new fabric.Canvas('ImgCanvas');

    //var json = '{"objects":[{"type":"rect","originX":"center","originY":"center","left":300,"top":150,"width":150,"height":150,"fill":"#29477F","overlayFill":null,"stroke":null,"strokeWidth":1,"strokeDashArray":null,"strokeLineCap":"butt","strokeLineJoin":"miter","strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":{"color":"rgba(94, 128, 191, 0.5)","blur":5,"offsetX":10,"offsetY":10},"visible":true,"clipTo":null,"rx":0,"ry":0,"x":0,"y":0},{"type":"circle","originX":"center","originY":"center","left":300,"top":400,"width":200,"height":200,"fill":"rgb(166,111,213)","overlayFill":null,"stroke":null,"strokeWidth":1,"strokeDashArray":null,"strokeLineCap":"butt","strokeLineJoin":"miter","strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":{"color":"#5b238A","blur":20,"offsetX":-20,"offsetY":-10},"visible":true,"clipTo":null,"radius":100}],"background":""}'

    //canvas.loadFromJSON(json, canvas.renderAll.bind(canvas), function (o, object) {
    //    fabric.log(o, object);
    //});

    //var objectx = canvas.getObjects();
    //objectx[0].selectable = false;

</script>