﻿
@model List<XtraWishesWeb.Models.Workord>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Weblayout.cshtml";
}

<div class="cont span_2_of_3">
    <h2 class="head">Featured Products</h2>
 
        <div class="top-box">
            @foreach(var item in Model)
            {



            <div class="col_1_of_3 span_1_of_3">
                <a href="/PreView/@item.Gid">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="@item.Showimgpath" alt="" />
                        </div>
                        <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                        <div class="price">
                            <div class="cart-left">
                                <p class="title">@item.GheadingMessage</p>
                                <div class="price1">
                                    <span class="actual">$12.00</span>
                                </div>
                            </div>
                            <div class="cart-right"> </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            }
            @*<div class="col_1_of_3 span_1_of_3">
                    <a href="single.html">
                        <div class="inner_content clearfix">
                            <div class="product_image">
                                <img src="~/Content/web/images/pic1.jpg" alt="" />
                            </div>
                            <div class="price">
                                <div class="cart-left">
                                    <p class="title">Lorem Ipsum simply</p>
                                    <div class="price1">
                                        <span class="actual">$12.00</span>
                                    </div>
                                </div>
                                <div class="cart-right"> </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <a href="single.html">
                        <div class="inner_content clearfix">
                            <div class="product_image">
                                <img src="~/Content/web/images/pic2.jpg" alt="" />
                            </div>
                            <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                            <div class="price">
                                <div class="cart-left">
                                    <p class="title">Lorem Ipsum simply</p>
                                    <div class="price1">
                                        <span class="reducedfrom">$66.00</span>
                                        <span class="actual">$12.00</span>
                                    </div>
                                </div>
                                <div class="cart-right"> </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </a>
                </div>*@
            <div class="clear"></div>
        </div>
    <div class="top-box">
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic3.jpg" alt="" />
                    </div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic4.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic5.jpg" alt="" />
                    </div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic6.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic7.jpg" alt="" />
                    </div>
                    <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="reducedfrom">$66.00</span>
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic8.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
        
        
 
    <h2 class="head">Staff Pick</h2>
    <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic8.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic4.jpg" alt="" />
                    </div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic2.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <h2 class="head">New Products</h2>
    <div class="section group">
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic5.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic2.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a href="single.html">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="~/Content/web/images/pic3.jpg" alt="" />
                    </div>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">Lorem Ipsum simply</p>
                            <div class="price1">
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="rsidebar span_1_of_left">
    <div class="top-border"> </div>
    <div class="border">
        <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
        <script src="js/jquery.nivo.slider.js"></script>
        <script type="text/javascript">
				    $(window).load(function() {
				        $('#slider').nivoSlider();
				    });
        </script>
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="~/Content/web/images/t-img1.jpg" alt="" />
                <img src="~/Content/web/images/t-img2.jpg" alt="" />
                <img src="~/Content/web/images/t-img3.jpg" alt="" />
            </div>
        </div>
        <div class="btn"><a href="single.html">Check it Out</a></div>
    </div>
    <div class="top-border"> </div>
    <div class="sidebar-bottom">
        <h2 class="m_1">Newsletters<br> Signup</h2>
        <p class="m_text">Lorem ipsum dolor sit amet, consectetuer</p>
        <div class="subscribe">
            <form>
                <input name="userName" type="text" class="textbox">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>
</div>

