﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Greetings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/web/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/web/js/jquery1.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <!-- start menu -->
    <link href="~/Content/Colorpicker/colorPick.css" rel="stylesheet" />
    <link href="~/Content/web/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/web/js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <!--start slider -->
    <link rel="stylesheet" href="~/Content/web/css/fwslider.css" media="all">
    <script src="~/Content/web/js/jquery-ui.min.js"></script>
    <script src="~/Content/web/js/css3-mediaqueries.js"></script>
    <script src="~/Content/web/js/fwslider.js"></script>
    <!--end slider -->
    <script src="~/Content/web/js/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.2/fabric.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="~/Content/Colorpicker/colorPick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    @*<script src="~/Content/web/js/jquery.easydropdown.js"></script>*@
</head>
<body>
    <div class="header-top">
        <div class="wrap">
            <div class="header-top-left">
                @*<div class="box">
                    <select tabindex="4" class="dropdown">
                        <option value="" class="label">Language :</option>
                        <option value="1">English</option>
                        <option value="2">French</option>
                        <option value="3">German</option>
                    </select>
                </div>
                <div class="box1">
                    <select tabindex="4" class="dropdown">
                        <option value="" class="label" >Currency :</option>
                        <option value="1">$ Dollar</option>
                        <option value="2">€ Euro</option>
                    </select>
                </div>*@
                <div class="clear"></div>
            </div>
            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="login.html">Account</a></li> |
                    <li><a href="checkout.html">Wishlist</a></li> |
                    <li><a href="checkout.html">Checkout</a></li> |
                    <li><a href="login.html">Log In</a></li> |
                    <li><a href="register.html">Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="index.html"><img src="~/Content/web/images/logo.png" alt="" /></a>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li class="active grid"><a href="/invitations">Home</a></li>
                        <li>
                            <a class="color4" href="#">invitations</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>invitations</h4>
                                            <ul>
                                                <li><a href="womens.html">Daily-wear soft lenses</a></li>
                                                <li><a href="womens.html">Extended-wear</a></li>
                                                <li><a href="womens.html">Lorem ipsum </a></li>
                                                <li><a href="womens.html">Planned replacement</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Sun Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Heart-Shaped</a></li>
                                                <li><a href="womens.html">Square-Shaped</a></li>
                                                <li><a href="womens.html">Round-Shaped</a></li>
                                                <li><a href="womens.html">Oval-Shaped</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Eye Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Anti Reflective</a></li>
                                                <li><a href="womens.html">Aspheric</a></li>
                                                <li><a href="womens.html">Bifocal</a></li>
                                                <li><a href="womens.html">Hi-index</a></li>
                                                <li><a href="womens.html">Progressive</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="color5" href="#">Card</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Card</h4>
                                            <ul>
                                                <li><a href="womens.html">Daily-wear soft lenses</a></li>
                                                <li><a href="womens.html">Extended-wear</a></li>
                                                <li><a href="womens.html">Lorem ipsum </a></li>
                                                <li><a href="womens.html">Planned replacement</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Sun Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Heart-Shaped</a></li>
                                                <li><a href="womens.html">Square-Shaped</a></li>
                                                <li><a href="womens.html">Round-Shaped</a></li>
                                                <li><a href="womens.html">Oval-Shaped</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Eye Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Anti Reflective</a></li>
                                                <li><a href="womens.html">Aspheric</a></li>
                                                <li><a href="womens.html">Bifocal</a></li>
                                                <li><a href="womens.html">Hi-index</a></li>
                                                <li><a href="womens.html">Progressive</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </li>
                        <li><a class="color6" href="other.html">Wishes</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Card</h4>
                                            <ul>
                                                <li><a href="womens.html">Daily-wear soft lenses</a></li>
                                                <li><a href="womens.html">Extended-wear</a></li>
                                                <li><a href="womens.html">Lorem ipsum </a></li>
                                                <li><a href="womens.html">Planned replacement</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Sun Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Heart-Shaped</a></li>
                                                <li><a href="womens.html">Square-Shaped</a></li>
                                                <li><a href="womens.html">Round-Shaped</a></li>
                                                <li><a href="womens.html">Oval-Shaped</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Eye Glasses</h4>
                                            <ul>
                                                <li><a href="womens.html">Anti Reflective</a></li>
                                                <li><a href="womens.html">Aspheric</a></li>
                                                <li><a href="womens.html">Bifocal</a></li>
                                                <li><a href="womens.html">Hi-index</a></li>
                                                <li><a href="womens.html">Progressive</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div></li>
                        @*<li><a class="color7" href="other.html">Purchase</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="header-bottom-right">
                <div class="search">
                    <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                    <div id="response"> </div>
                </div>
                <div class="tag-list">
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>sed diam nonummy</h3><a href=""></a></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c2" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>No Products</h3><a href=""></a></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last"><li><a href="#">Cart(0)</a></li></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- start slider -->
    @*<div id="fwslider">
        <div class="slider_container">
            <div class="slide">
                <!-- Slide image -->
                <img src="~/Content/web/images/banner.jpg" alt="" />
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h4 class="title">Aluminium Club</h4>
                        <!-- /Text title -->
                        <!-- Text description -->
                        <p class="description">Experiance ray ban</p>
                        <!-- /Text description -->
                    </div>
                </div>
                <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <img src="~/Content/web/images/banner1.jpg" alt="" />
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">consectetuer adipiscing </h4>
                        <p class="description">diam nonummy nibh euismod</p>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>*@
    <!--/slider -->
    <div class="main">
        <div class="wrap">
            <div class="section group">
             @RenderBody()
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="section group example">
                    <div class="col_1_of_2 span_1_of_2">
                        <ul class="f-list">
                            <li><img src="~/Content/web/images/2.png"><span class="f-text">Free Shipping on orders over $ 100</span><div class="clear"></div></li>
                        </ul>
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <ul class="f-list">
                            <li><img src="~/Content/web/images/3.png"><span class="f-text">Call us! toll free-222-555-6666 </span><div class="clear"></div></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="wrap">
                <!-- <div class="section group">
                      <div class="f_10">
                          <div class="col_1_of_4 span_1_of_4">
                              <h3>Facebook</h3>
                              <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                              }(document, 'script', 'facebook-jssdk'));</script>
                              <div class="like_box">
                                  <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                              </div>
                          </div>
                          <div class="col_1_of_4 span_1_of_4">
                              <h3>From Twitter</h3>
                              <div class="recent-tweet">
                                  <div class="recent-tweet-icon">
                                      <span> </span>
                                  </div>
                                  <div class="recent-tweet-info">
                                      <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                  </div>
                                  <div class="clear"> </div>
                              </div>
                              <div class="recent-tweet">
                                  <div class="recent-tweet-icon">
                                      <span> </span>
                                  </div>
                                  <div class="recent-tweet-info">
                                      <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                  </div>
                                  <div class="clear"> </div>
                              </div>
                          </div>
                      </div>
                      <div class="f_10">
                          <div class="col_1_of_4 span_1_of_4">
                              <h3>Information</h3>
                              <ul class="f-list1">
                                  <li><a href="#">Duis autem vel eum iriure </a></li>
                                  <li><a href="#">anteposuerit litterarum formas </a></li>
                                  <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                   <li><a href="#">Duis autem vel eum iriure </a></li>
                                  <li><a href="#">anteposuerit litterarum formas </a></li>
                                  <li><a href="#">Tduis dolore te feugait nulla</a></li>
                              </ul>
                          </div>
                          <div class="col_1_of_4 span_1_of_4">
                              <h3>Contact us</h3>
                              <div class="company_address">
                                          <p>500 Lorem Ipsum Dolor Sit,</p>
                                          <p>22-56-2-9 Sit Amet, Lorem,</p>
                                          <p>USA</p>
                                  <p>Phone:(00) 222 666 444</p>
                                  <p>Fax: (000) 000 00 00 0</p>
                                  <p>Email: <span>mail[at]leoshop.com</span></p>

                             </div>
                             <div class="social-media">
                                   <ul>
                                      <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                  </ul>
                             </div>
                          </div>
                      <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </div>-->





                <div class="section group example">
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Facebook</h3>
                                <script>
(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
                                <div class="like_box">
                                    <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                                </div>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>From Twitter</h3>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Information</h3>
                                <ul class="f-list1">
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                </ul>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Contact us</h3>
                                <div class="company_address">
                                    <p>500 Lorem Ipsum Dolor Sit,</p>
                                    <p>22-56-2-9 Sit Amet, Lorem,</p>
                                    <p>USA</p>
                                    <p>Phone:(00) 222 666 444</p>
                                    <p>Fax: (000) 000 00 00 0</p>
                                    <p>Email: <span>mail[at]leoshop.com</span></p>

                                </div>
                                <div class="social-media">
                                    <ul>
                                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">
                    <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
                </div>
                <div class="f-list2">
                    <ul>
                        <li class="active"><a href="about.html">About Us</a></li> |
                        <li><a href="delivery.html">Delivery & Returns</a></li> |
                        <li><a href="delivery.html">Terms & Conditions</a></li> |
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    window.fbAsyncInit = function () {
        //-- init the FB JS SDK
        FB.init({
            appId: '118617035340021',                           //-- App ID from the app dashboard
            channelUrl: 'http://localhost:57059',   //-- Channel file for x-domain comms
            status: true,                                       //-- Check Facebook Login status
            xfbml: true                                         //-- Look for social plugins on the page
        });

        //-- Additional initialization code such as adding Event Listeners goes here

        //-- Check if the current user is logged in and has authorized the app
       /// FB.getLoginStatus(checkLoginStatus);
    };

    //-- Login in the current user via Facebook and ask for email permission
   


    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



  
</script>