﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Weblayout.cshtml";
}



<style>
.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}

    .btn-mycomputur {
	  background: #01df7c;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}


    ul.drpDown { 
    height: 30px;
    width: 150px;
    border: 1px #000 solid;
}

    .colorPickSelector {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

.colorPickSelector:hover { transform: scale(1.1); }

</style>
<script src="~/Content/fontselect-jquery-plugin-master/jquery.fontselect.js"></script>
<link href="~/Content/fontselect-jquery-plugin-master/styles/fontselect-alternate.css" rel="stylesheet" />
<link href="~/Content/fontselect-jquery-plugin-master/styles/fontselect-default.css" rel="stylesheet" />
<div class="row">





    <div >
        <div id="fontSelect-font" class="font-select font-select-active"><a><span></span><div><b></b></div></a><div class="fs-drop" style="display: block;"><ul class="fs-results">
            </ul></div></div>

    </div>
    <div class="cont span_2_of_2">
        <div class="card">
            <canvas id="c" width="450" height="650" style="border:1px solid #ccc"></canvas>
        </div>

    </div>
  
    <div class="desc1 span_3_of_2">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>Color</label>
                    <div class="colorPickSelector"></div>
                </div>

            </div>
        </div>
        @*<div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>Select Font</label>
                    <ul class="list-unstyled drpDown">
                        <li class="init">[SELECT]</li>
                        <li data-value="Aclonica" style="font-family: Aclonica; font-weight: 400" class="">Aclonica</li>
                        <li data-value="Allan" style="font-family: Allan; font-weight: 400" class="">Allan</li>
                        <li data-value="Annie+Use+Your+Telescope" style="font-family: Annie Use Your Telescope; font-weight: 400" class="">Annie Use Your Telescope</li>
                        <li data-value="Anonymous+Pro" style="font-family: Anonymous Pro; font-weight: 400" class="">Anonymous Pro</li>
                        <li data-value="Allerta+Stencil" style="font-family: Allerta Stencil; font-weight: 400">Allerta Stencil</li>
                        <li data-value="Allerta" style="font-family: Allerta; font-weight: 400">Allerta</li>
                        <li data-value="Amaranth" style="font-family: Amaranth; font-weight: 400">Amaranth</li>
                        <li data-value="Anton" style="font-family: Anton; font-weight: 400">Anton</li>
                        <li data-value="Architects+Daughter" style="font-family: Architects Daughter; font-weight: 400" class="">Architects Daughter</li>
                        <li data-value="Arimo" style="font-family: Arimo; font-weight: 400" class="">Arimo</li>
                        <li data-value="Artifika" style="font-family: Artifika; font-weight: 400">Artifika</li>
                        <li data-value="Arvo" style="font-family: Arvo; font-weight: 400" class="">Arvo</li>
                        <li data-value="Asset" style="font-family: Asset; font-weight: 400">Asset</li>
                        <li data-value="Astloch" style="font-family: Astloch; font-weight: 400">Astloch</li>
                        <li data-value="Bangers" style="font-family: Bangers; font-weight: 400">Bangers</li>
                        <li data-value="Bentham" style="font-family: Bentham; font-weight: 400">Bentham</li>
                        <li data-value="Bevan" style="font-family: Bevan; font-weight: 400">Bevan</li>
                        <li data-value="Bigshot+One" style="font-family: Bigshot One; font-weight: 400">Bigshot One</li>
                        <li data-value="Bowlby+One" style="font-family: Bowlby One; font-weight: 400" class="">Bowlby One</li>
                        <li data-value="Bowlby+One+SC" style="font-family: Bowlby One SC; font-weight: 400">Bowlby One SC</li>
                        <li data-value="Brawler" style="font-family: Brawler; font-weight: 400">Brawler</li>
                        <li data-value="Buda:300" style="font-family: Buda; font-weight: 300" class="">Buda 300</li>
                        <li data-value="Cabin" style="font-family: Cabin; font-weight: 400">Cabin</li>
                        <li data-value="Calligraffitti" style="font-family: Calligraffitti; font-weight: 400">Calligraffitti</li>
                        <li data-value="Candal" style="font-family: Candal; font-weight: 400">Candal</li>
                        <li data-value="Cantarell" style="font-family: Cantarell; font-weight: 400">Cantarell</li>
                        <li data-value="Cardo" style="font-family: Cardo; font-weight: 400">Cardo</li>
                        <li data-value="Carter One" style="font-family: Carter One; font-weight: 400" class="">Carter One</li>
                        <li data-value="Caudex" style="font-family: Caudex; font-weight: 400">Caudex</li>
                        <li data-value="Cedarville+Cursive" style="font-family: Cedarville Cursive; font-weight: 400" class="">Cedarville Cursive</li>
                        <li data-value="Cherry+Cream+Soda" style="font-family: Cherry Cream Soda; font-weight: 400" class="">Cherry Cream Soda</li>
                        <li data-value="Chewy" style="font-family: Chewy; font-weight: 400" class="">Chewy</li>
                        <li data-value="Coda" style="font-family: Coda; font-weight: 400">Coda</li>
                        <li data-value="Coming+Soon" style="font-family: Coming Soon; font-weight: 400" class="">Coming Soon</li>
                        <li data-value="Copse" style="font-family: Copse; font-weight: 400">Copse</li>
                        <li data-value="Corben:700" style="font-family: Corben; font-weight: 700" class="">Corben 700</li>
                        <li data-value="Cousine" style="font-family: Cousine; font-weight: 400" class="">Cousine</li>
                        <li data-value="Covered+By+Your+Grace" style="font-family: Covered By Your Grace; font-weight: 400" class="">Covered By Your Grace</li>
                        <li data-value="Crafty+Girls" style="font-family: Crafty Girls; font-weight: 400" class="">Crafty Girls</li>
                        <li data-value="Crimson+Text" style="font-family: Crimson Text; font-weight: 400" class="">Crimson Text</li>
                        <li data-value="Crushed" style="font-family: Crushed; font-weight: 400" class="">Crushed</li>
                        <li data-value="Cuprum" style="font-family: Cuprum; font-weight: 400" class="">Cuprum</li>
                        <li data-value="Damion" style="font-family: Damion; font-weight: 400">Damion</li>
                        <li data-value="Dancing+Script" style="font-family: Dancing Script; font-weight: 400" class="">Dancing Script</li>
                        <li data-value="Dawning+of+a+New+Day" style="font-family: Dawning of a New Day; font-weight: 400">Dawning of a New Day</li>
                        <li data-value="Didact+Gothic" style="font-family: Didact Gothic; font-weight: 400">Didact Gothic</li>
                        <li data-value="Droid+Sans" style="font-family: Droid Sans; font-weight: 400">Droid Sans</li>
                        <li data-value="Droid+Sans+Mono" style="font-family: Droid Sans Mono; font-weight: 400">Droid Sans Mono</li>
                        <li data-value="Droid+Serif" style="font-family: Droid Serif; font-weight: 400">Droid Serif</li>
                        <li data-value="EB+Garamond" style="font-family: EB Garamond; font-weight: 400">EB Garamond</li>
                        <li data-value="Expletus+Sans" style="font-family: Expletus Sans; font-weight: 400">Expletus Sans</li>
                        <li data-value="Fontdiner+Swanky" style="font-family: Fontdiner Swanky; font-weight: 400">Fontdiner Swanky</li>
                        <li data-value="Forum" style="font-family: Forum; font-weight: 400">Forum</li>
                        <li data-value="Francois+One" style="font-family: Francois One; font-weight: 400">Francois One</li>
                        <li data-value="Geo" style="font-family: Geo; font-weight: 400">Geo</li>
                        <li data-value="Give+You+Glory" style="font-family: Give You Glory; font-weight: 400">Give You Glory</li>
                        <li data-value="Goblin+One" style="font-family: Goblin One; font-weight: 400">Goblin One</li>
                        <li data-value="Goudy+Bookletter+1911" style="font-family: Goudy Bookletter 1911; font-weight: 400">Goudy Bookletter 1911</li>
                        <li data-value="Gravitas+One" style="font-family: Gravitas One; font-weight: 400">Gravitas One</li>
                        <li data-value="Gruppo" style="font-family: Gruppo; font-weight: 400">Gruppo</li>
                        <li data-value="Hammersmith+One" style="font-family: Hammersmith One; font-weight: 400">Hammersmith One</li>
                        <li data-value="Holtwood+One+SC" style="font-family: Holtwood One SC; font-weight: 400">Holtwood One SC</li>
                        <li data-value="Homemade+Apple" style="font-family: Homemade Apple; font-weight: 400">Homemade Apple</li>
                        <li data-value="Inconsolata" style="font-family: Inconsolata; font-weight: 400">Inconsolata</li>
                        <li data-value="Indie+Flower" style="font-family: Indie Flower; font-weight: 400">Indie Flower</li>
                        <li data-value="IM+Fell+DW+Pica" style="font-family: IM Fell DW Pica; font-weight: 400">IM Fell DW Pica</li>
                        <li data-value="IM+Fell+DW+Pica+SC" style="font-family: IM Fell DW Pica SC; font-weight: 400">IM Fell DW Pica SC</li>
                        <li data-value="IM+Fell+Double+Pica" style="font-family: IM Fell Double Pica; font-weight: 400">IM Fell Double Pica</li>
                        <li data-value="IM+Fell+Double+Pica+SC" style="font-family: IM Fell Double Pica SC; font-weight: 400">IM Fell Double Pica SC</li>
                        <li data-value="IM+Fell+English" style="font-family: IM Fell English; font-weight: 400">IM Fell English</li>
                        <li data-value="IM+Fell+English+SC" style="font-family: IM Fell English SC; font-weight: 400">IM Fell English SC</li>
                        <li data-value="IM+Fell+French+Canon" style="font-family: IM Fell French Canon; font-weight: 400">IM Fell French Canon</li>
                        <li data-value="IM+Fell+French+Canon+SC" style="font-family: IM Fell French Canon SC; font-weight: 400">IM Fell French Canon SC</li>
                        <li data-value="IM+Fell+Great+Primer" style="font-family: IM Fell Great Primer; font-weight: 400">IM Fell Great Primer</li>
                        <li data-value="IM+Fell+Great+Primer+SC" style="font-family: IM Fell Great Primer SC; font-weight: 400">IM Fell Great Primer SC</li>
                        <li data-value="Irish+Grover" style="font-family: Irish Grover; font-weight: 400">Irish Grover</li>
                        <li data-value="Irish+Growler" style="font-family: Irish Growler; font-weight: 400">Irish Growler</li>
                        <li data-value="Istok+Web" style="font-family: Istok Web; font-weight: 400">Istok Web</li>
                        <li data-value="Josefin+Sans" style="font-family: Josefin Sans; font-weight: 400">Josefin Sans</li>
                        <li data-value="Josefin+Slab" style="font-family: Josefin Slab; font-weight: 400">Josefin Slab</li>
                        <li data-value="Judson" style="font-family: Judson; font-weight: 400">Judson</li>
                        <li data-value="Jura" style="font-family: Jura; font-weight: 400">Jura</li>
                        <li data-value="Jura:500" style="font-family: Jura; font-weight: 500">Jura 500</li>
                        <li data-value="Jura:600" style="font-family: Jura; font-weight: 600">Jura 600</li>
                        <li data-value="Just+Another+Hand" style="font-family: Just Another Hand; font-weight: 400">Just Another Hand</li>
                        <li data-value="Just+Me+Again+Down+Here" style="font-family: Just Me Again Down Here; font-weight: 400">Just Me Again Down Here</li>
                        <li data-value="Kameron" style="font-family: Kameron; font-weight: 400">Kameron</li>
                        <li data-value="Kenia" style="font-family: Kenia; font-weight: 400">Kenia</li>
                        <li data-value="Kranky" style="font-family: Kranky; font-weight: 400">Kranky</li>
                        <li data-value="Kreon" style="font-family: Kreon; font-weight: 400">Kreon</li>
                        <li data-value="Kristi" style="font-family: Kristi; font-weight: 400">Kristi</li>
                        <li data-value="La+Belle+Aurore" style="font-family: La Belle Aurore; font-weight: 400">La Belle Aurore</li>
                        <li data-value="Lato:100" style="font-family: Lato; font-weight: 100">Lato 100</li>
                        <li data-value="Lato:100italic" style="font-family: Lato; font-weight: 100italic">Lato 100italic</li>
                        <li data-value="Lato:300" style="font-family: Lato; font-weight: 300">Lato 300</li>
                        <li data-value="Lato" style="font-family: Lato; font-weight: 400">Lato</li>
                        <li data-value="Lato:bold" style="font-family: Lato; font-weight: bold">Lato bold</li>
                        <li data-value="Lato:900" style="font-family: Lato; font-weight: 900">Lato 900</li>
                        <li data-value="League+Script" style="font-family: League Script; font-weight: 400">League Script</li>
                        <li data-value="Lekton" style="font-family: Lekton; font-weight: 400">Lekton</li>
                        <li data-value="Limelight" style="font-family: Limelight; font-weight: 400">Limelight</li>
                        <li data-value="Lobster" style="font-family: Lobster; font-weight: 400">Lobster</li>
                        <li data-value="Lobster Two" style="font-family: Lobster Two; font-weight: 400">Lobster Two</li>
                        <li data-value="Lora" style="font-family: Lora; font-weight: 400">Lora</li>
                        <li data-value="Love+Ya+Like+A+Sister" style="font-family: Love Ya Like A Sister; font-weight: 400">Love Ya Like A Sister</li>
                        <li data-value="Loved+by+the+King" style="font-family: Loved by the King; font-weight: 400">Loved by the King</li>
                        <li data-value="Luckiest+Guy" style="font-family: Luckiest Guy; font-weight: 400">Luckiest Guy</li>
                        <li data-value="Maiden+Orange" style="font-family: Maiden Orange; font-weight: 400">Maiden Orange</li>
                        <li data-value="Mako" style="font-family: Mako; font-weight: 400">Mako</li>
                        <li data-value="Maven+Pro" style="font-family: Maven Pro; font-weight: 400">Maven Pro</li>
                        <li data-value="Maven+Pro:500" style="font-family: Maven Pro; font-weight: 500">Maven Pro 500</li>
                        <li data-value="Maven+Pro:700" style="font-family: Maven Pro; font-weight: 700">Maven Pro 700</li>
                        <li data-value="Maven+Pro:900" style="font-family: Maven Pro; font-weight: 900">Maven Pro 900</li>
                        <li data-value="Meddon" style="font-family: Meddon; font-weight: 400">Meddon</li>
                        <li data-value="MedievalSharp" style="font-family: MedievalSharp; font-weight: 400">MedievalSharp</li>
                        <li data-value="Megrim" style="font-family: Megrim; font-weight: 400">Megrim</li>
                        <li data-value="Merriweather" style="font-family: Merriweather; font-weight: 400">Merriweather</li>
                        <li data-value="Metrophobic" style="font-family: Metrophobic; font-weight: 400">Metrophobic</li>
                        <li data-value="Michroma" style="font-family: Michroma; font-weight: 400">Michroma</li>
                        <li data-value="Miltonian Tattoo" style="font-family: Miltonian Tattoo; font-weight: 400">Miltonian Tattoo</li>
                        <li data-value="Miltonian" style="font-family: Miltonian; font-weight: 400">Miltonian</li>
                        <li data-value="Modern Antiqua" style="font-family: Modern Antiqua; font-weight: 400">Modern Antiqua</li>
                        <li data-value="Monofett" style="font-family: Monofett; font-weight: 400">Monofett</li>
                        <li data-value="Molengo" style="font-family: Molengo; font-weight: 400">Molengo</li>
                        <li data-value="Mountains of Christmas" style="font-family: Mountains of Christmas; font-weight: 400">Mountains of Christmas</li>
                        <li data-value="Muli:300" style="font-family: Muli; font-weight: 300">Muli 300</li>
                        <li data-value="Muli" style="font-family: Muli; font-weight: 400">Muli</li>
                        <li data-value="Neucha" style="font-family: Neucha; font-weight: 400">Neucha</li>
                        <li data-value="Neuton" style="font-family: Neuton; font-weight: 400">Neuton</li>
                        <li data-value="News+Cycle" style="font-family: News Cycle; font-weight: 400">News Cycle</li>
                        <li data-value="Nixie+One" style="font-family: Nixie One; font-weight: 400">Nixie One</li>
                        <li data-value="Nobile" style="font-family: Nobile; font-weight: 400">Nobile</li>
                        <li data-value="Nova+Cut" style="font-family: Nova Cut; font-weight: 400">Nova Cut</li>
                        <li data-value="Nova+Flat" style="font-family: Nova Flat; font-weight: 400">Nova Flat</li>
                        <li data-value="Nova+Mono" style="font-family: Nova Mono; font-weight: 400">Nova Mono</li>
                        <li data-value="Nova+Oval" style="font-family: Nova Oval; font-weight: 400">Nova Oval</li>
                        <li data-value="Nova+Round" style="font-family: Nova Round; font-weight: 400">Nova Round</li>
                        <li data-value="Nova+Script" style="font-family: Nova Script; font-weight: 400">Nova Script</li>
                        <li data-value="Nova+Slim" style="font-family: Nova Slim; font-weight: 400">Nova Slim</li>
                        <li data-value="Nova+Square" style="font-family: Nova Square; font-weight: 400">Nova Square</li>
                        <li data-value="Nunito:light" style="font-family: Nunito; font-weight: light">Nunito light</li>
                        <li data-value="Nunito" style="font-family: Nunito; font-weight: 400">Nunito</li>
                        <li data-value="OFL+Sorts+Mill+Goudy+TT" style="font-family: OFL Sorts Mill Goudy TT; font-weight: 400">OFL Sorts Mill Goudy TT</li>
                        <li data-value="Old+Standard+TT" style="font-family: Old Standard TT; font-weight: 400">Old Standard TT</li>
                        <li data-value="Open+Sans:300" style="font-family: Open Sans; font-weight: 300">Open Sans 300</li>
                        <li data-value="Open+Sans" style="font-family: Open Sans; font-weight: 400">Open Sans</li>
                        <li data-value="Open+Sans:600" style="font-family: Open Sans; font-weight: 600">Open Sans 600</li>
                        <li data-value="Open+Sans:800" style="font-family: Open Sans; font-weight: 800">Open Sans 800</li>
                        <li data-value="Open+Sans+Condensed:300" style="font-family: Open Sans Condensed; font-weight: 300">Open Sans Condensed 300</li>
                        <li data-value="Orbitron" style="font-family: Orbitron; font-weight: 400">Orbitron</li>
                        <li data-value="Orbitron:500" style="font-family: Orbitron; font-weight: 500">Orbitron 500</li>
                        <li data-value="Orbitron:700" style="font-family: Orbitron; font-weight: 700">Orbitron 700</li>
                        <li data-value="Orbitron:900" style="font-family: Orbitron; font-weight: 900">Orbitron 900</li>
                        <li data-value="Oswald" style="font-family: Oswald; font-weight: 400">Oswald</li>
                        <li data-value="Over+the+Rainbow" style="font-family: Over the Rainbow; font-weight: 400">Over the Rainbow</li>
                        <li data-value="Reenie+Beanie" style="font-family: Reenie Beanie; font-weight: 400">Reenie Beanie</li>
                        <li data-value="Pacifico" style="font-family: Pacifico; font-weight: 400">Pacifico</li>
                        <li data-value="Patrick+Hand" style="font-family: Patrick Hand; font-weight: 400">Patrick Hand</li>
                        <li data-value="Paytone+One" style="font-family: Paytone One; font-weight: 400">Paytone One</li>
                        <li data-value="Permanent+Marker" style="font-family: Permanent Marker; font-weight: 400">Permanent Marker</li>
                        <li data-value="Philosopher" style="font-family: Philosopher; font-weight: 400">Philosopher</li>
                        <li data-value="Play" style="font-family: Play; font-weight: 400">Play</li>
                        <li data-value="Playfair+Display" style="font-family: Playfair Display; font-weight: 400">Playfair Display</li>
                        <li data-value="Podkova" style="font-family: Podkova; font-weight: 400">Podkova</li>
                        <li data-value="PT+Sans" style="font-family: PT Sans; font-weight: 400">PT Sans</li>
                        <li data-value="PT+Sans+Narrow" style="font-family: PT Sans Narrow; font-weight: 400">PT Sans Narrow</li>
                        <li data-value="PT+Sans+Narrow:regular,bold" style="font-family: PT Sans Narrow; font-weight: regular,bold">PT Sans Narrow regular,bold</li>
                        <li data-value="PT+Serif" style="font-family: PT Serif; font-weight: 400">PT Serif</li>
                        <li data-value="PT+Serif Caption" style="font-family: PT Serif Caption; font-weight: 400">PT Serif Caption</li>
                        <li data-value="Puritan" style="font-family: Puritan; font-weight: 400">Puritan</li>
                        <li data-value="Quattrocento" style="font-family: Quattrocento; font-weight: 400">Quattrocento</li>
                        <li data-value="Quattrocento+Sans" style="font-family: Quattrocento Sans; font-weight: 400">Quattrocento Sans</li>
                        <li data-value="Radley" style="font-family: Radley; font-weight: 400">Radley</li>
                        <li data-value="Raleway:100" style="font-family: Raleway; font-weight: 100">Raleway 100</li>
                        <li data-value="Redressed" style="font-family: Redressed; font-weight: 400">Redressed</li>
                        <li data-value="Rock+Salt" style="font-family: Rock Salt; font-weight: 400">Rock Salt</li>
                        <li data-value="Rokkitt" style="font-family: Rokkitt; font-weight: 400">Rokkitt</li>
                        <li data-value="Ruslan+Display" style="font-family: Ruslan Display; font-weight: 400">Ruslan Display</li>
                        <li data-value="Schoolbell" style="font-family: Schoolbell; font-weight: 400">Schoolbell</li>
                        <li data-value="Shadows+Into+Light" style="font-family: Shadows Into Light; font-weight: 400">Shadows Into Light</li>
                        <li data-value="Shanti" style="font-family: Shanti; font-weight: 400">Shanti</li>
                        <li data-value="Sigmar+One" style="font-family: Sigmar One; font-weight: 400">Sigmar One</li>
                        <li data-value="Six+Caps" style="font-family: Six Caps; font-weight: 400">Six Caps</li>
                        <li data-value="Slackey" style="font-family: Slackey; font-weight: 400">Slackey</li>
                        <li data-value="Smythe" style="font-family: Smythe; font-weight: 400">Smythe</li>
                        <li data-value="Sniglet:800" style="font-family: Sniglet; font-weight: 800">Sniglet 800</li>
                        <li data-value="Special+Elite" style="font-family: Special Elite; font-weight: 400">Special Elite</li>
                        <li data-value="Stardos+Stencil" style="font-family: Stardos Stencil; font-weight: 400">Stardos Stencil</li>
                        <li data-value="Sue+Ellen+Francisco" style="font-family: Sue Ellen Francisco; font-weight: 400">Sue Ellen Francisco</li>
                        <li data-value="Sunshiney" style="font-family: Sunshiney; font-weight: 400">Sunshiney</li>
                        <li data-value="Swanky+and+Moo+Moo" style="font-family: Swanky and Moo Moo; font-weight: 400">Swanky and Moo Moo</li>
                        <li data-value="Syncopate" style="font-family: Syncopate; font-weight: 400">Syncopate</li>
                        <li data-value="Tangerine" style="font-family: Tangerine; font-weight: 400">Tangerine</li>
                        <li data-value="Tenor+Sans" style="font-family: Tenor Sans; font-weight: 400">Tenor Sans</li>
                        <li data-value="Terminal+Dosis+Light" style="font-family: Terminal Dosis Light; font-weight: 400">Terminal Dosis Light</li>
                        <li data-value="The+Girl+Next+Door" style="font-family: The Girl Next Door; font-weight: 400">The Girl Next Door</li>
                        <li data-value="Tinos" style="font-family: Tinos; font-weight: 400">Tinos</li>
                        <li data-value="Ubuntu" style="font-family: Ubuntu; font-weight: 400">Ubuntu</li>
                        <li data-value="Ultra" style="font-family: Ultra; font-weight: 400">Ultra</li>
                        <li data-value="Unkempt" style="font-family: Unkempt; font-weight: 400">Unkempt</li>
                        <li data-value="UnifrakturCook:bold" style="font-family: UnifrakturCook; font-weight: bold">UnifrakturCook bold</li>
                        <li data-value="UnifrakturMaguntia" style="font-family: UnifrakturMaguntia; font-weight: 400">UnifrakturMaguntia</li>
                        <li data-value="Varela" style="font-family: Varela; font-weight: 400">Varela</li>
                        <li data-value="Varela Round" style="font-family: Varela Round; font-weight: 400">Varela Round</li>
                        <li data-value="Vibur" style="font-family: Vibur; font-weight: 400">Vibur</li>
                        <li data-value="Vollkorn" style="font-family: Vollkorn; font-weight: 400">Vollkorn</li>
                        <li data-value="VT323" style="font-family: VT323; font-weight: 400">VT323</li>
                        <li data-value="Waiting+for+the+Sunrise" style="font-family: Waiting for the Sunrise; font-weight: 400">Waiting for the Sunrise</li>
                        <li data-value="Wallpoet" style="font-family: Wallpoet; font-weight: 400">Wallpoet</li>
                        <li data-value="Walter+Turncoat" style="font-family: Walter Turncoat; font-weight: 400">Walter Turncoat</li>
                        <li data-value="Wire+One" style="font-family: Wire One; font-weight: 400">Wire One</li>
                        <li data-value="Yanone+Kaffeesatz" style="font-family: Yanone Kaffeesatz; font-weight: 400">Yanone Kaffeesatz</li>
                        <li data-value="Yanone+Kaffeesatz:300" style="font-family: Yanone Kaffeesatz; font-weight: 300">Yanone Kaffeesatz 300</li>
                        <li data-value="Yanone+Kaffeesatz:400" style="font-family: Yanone Kaffeesatz; font-weight: 400">Yanone Kaffeesatz 400</li>
                        <li data-value="Yanone+Kaffeesatz:700" style="font-family: Yanone Kaffeesatz; font-weight: 700">Yanone Kaffeesatz 700</li>
                        <li data-value="Yeseva+One" style="font-family: Yeseva One; font-weight: 400">Yeseva One</li>
                        <li data-value="Zeyada" style="font-family: Zeyada; font-weight: 400">Zeyada</li>
                    </ul>
                </div>

            </div>
        </div>*@

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>Select Font</label>
                    <input id="font" type="text" class="form-control">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>Add Text</label>
                    <input type="text" id="Entertext" class="form-control" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">

                    <input type="button" class="form-control"
                           onclick="Addtext()" value="Add Text" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">

                    <input type="button" class="form-control"
                           onclick="Deletetext()" value="Delete" />
                </div>

            </div>
        </div>
    </div>
    
</div>
<div>
    
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Photo</h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <a href="#" title="Facebook" class="btn btn-facebook btn-lg" onclick="fbclk()"><i class="fa fa-facebook fa-fw"></i>From  Facebook</a>

                </div>
                <div class="row" style="padding-top:10px">
                    <input type="file" id="idfileUpload" style="display:none" />
                    <a href="#" title="Facebook" onclick="fileupload()" class="btn btn-mycomputur btn-lg"> From Your Computer</a>

                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>




    $(".colorPickSelector").change(function () {
        alert("ds");
    });
    function fileupload() {
        $('#idfileUpload').trigger('click');
    }
    $(".colorPickSelector").colorPick();
   



   
    //var canvas = window._canvas = new fabric.Canvas('ImgCanvas');

    //canvas.backgroundColor = '#ffffff';
    //canvas.renderAll();
   var json_data = "";
   var j = 0;
   var ImageCount = 1;
   var baseUrl = "@System.Configuration.ConfigurationManager.AppSettings["localbaseurl"].ToString()";
   var apiUrl = "@System.Configuration.ConfigurationManager.AppSettings["localapiurl"].ToString()";
    var canvas = window._canvas = new fabric.Canvas('c');
    $(document).ready(function () {
       


        //$('#font').fontselect();

        //$('#font').fontselect().change(function () {
        //    debugger;
        //    var font = $(this).val().replace(/\+/g, ' ');

        //    font = font.split(':');

        //    FontFamily1 = font[0];
        //    debugger;


        //    canvas.forEachObject(function (obj) {
        //        var resul = canvas.getActiveObject();
        //        debugger;
        //        if (obj === resul) {

        //            obj.set({ fill: $("#colourid").val() });
        //            obj.set({ fontFamily: FontFamily1 });
        //            obj.setCoords();
        //            obj.canvas.renderAll();


        //        }
        //    });

        //});
        // $('#font').fontselect();
        
       
        var result1 = "@ViewBag.jsonid";
        var res = JSON.stringify(result);
    

        $.ajax({
            url: apiUrl + "AdminApi/GetJson/?Jsonid=" + result1,
            type: "GET",
            success: function (result) {
                
                if (result.Code == 100) {
                    debugger;

                  json_data = JSON.parse(result.Result.Jsonstring);




                  for (var i = 0; i < json_data.objects.length; i++) {
                     
                        var ssa = json_data.objects[i];
                        if (ssa.type == "image") {
                            var res = ssa.src;
                            var split = res.split("/");
                            if (split[3] == "imges") {
                                json_data.objects[i].src = baseUrl + 'imges/UploadImage' + ImageCount + '.jpg';
                               
                                ImageCount++;
                            }
                            else
                            {
                                j = i;
                            }

                        }
                    }





                    LoaJsoncanavas(json_data)
                }
            }
        });





        //LoaJsoncanavas(result);
       
       
        var result = canvas.getObjects()


        function Deleteobj() {

            var activeObject = canvas.getActiveObject();

            canvas.remove(activeObject)
        }

        canvas.on("object:selected", function (options) {
            

            if (options.target.type == "image") {
               
                if (options.target.src == baseUrl + 'imges/UploadImage1.jpg' || options.target.src == baseUrl + 'imges/UploadImage2.jpg' || options.target.src == baseUrl + 'imges/UploadImage3.jpg')
                {
                    $('#myModal').modal('show');
                }
            }
            else {
                var allOptions = $(".list-unstyled.drpDown").children('li:not(.init)');
              
                    allOptions.removeClass('selected');
                    $(this).addClass('selected');
                    $(".list-unstyled.drpDown").children('.init').html($(this).html());
                    allOptions.toggle();
              }
              
        });




     


        document.getElementById('idfileUpload').onchange = function handleImage(e) {

            var formData = new FormData();
            var totalFiles = document.getElementById("idfileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("idfileUpload").files[i];
                formData.append("imageUploadForm", file);
            }


            $.ajax({
                type: "POST",
                url: '/Admin/Uploadimage',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result) {
                    if(result!="")
                    {
                        UpdateFbprofile(result);
                    }

                }
            });





        }

      
  
        //document.getElementById('imageUploadForm1').onchange = function handleImage(e) {


        //    var formData = new FormData();
        //    var totalFiles = document.getElementById("imageUploadForm1").files.length;
        //    for (var i = 0; i < totalFiles; i++) {
        //        var file = document.getElementById("imageUploadForm1").files[i];
        //        formData.append("imageUploadForm1", file);
        //    }



        //    $.ajax({
        //        type: "POST",
        //        url: '/Admin/UploadBackground',
        //        data: formData,
        //        dataType: 'json',
        //        contentType: false,
        //        processData: false,
        //        success: function (result) {
        //            fabric.Image.fromURL(result, function (img) {
        //                img.left = 0;
        //                img.top = 0;
        //                img.width = 450;
        //                img.height = 650;
        //                img.evented = false;
        //                img.hasControls = false;
        //                // img.crossOrigin = "anonymous";
        //                canvas.add(img);


        //                canvas.renderAll();
        //                //canvas.sendToBack(img);
        //            });

        //        }
        //    });
        //}
        //fabric.Image.fromURL("http://localhost:55756/Files/ChocolateBirthdaycake-1506336281.png", function (img) {
        //    img.left = 0;
        //    img.top = 0;
        //    img.width = 400;
        //    img.height = 400;
        //    //img.crossOrigin = "anonymous";
        //    img.evented = false;
        //    img.hasControls = false;
        //    canvas.add(img);
        //    // canvas.selection = false;

        //});
        //var FontFamily1 = "";

        //if (bdd != "") {sss


        //    bdd.target.setText('Selectedoooooooo');
        //}
        // $('p').css('font-family', font[0]);

    });


    //function Addtext() {

    //    var fabicText = new fabric.IText($("#Entertext").val(), {
    //        fontFamily: FontFamily1,
    //        left: 100,
    //        top: 100,
    //        fill: $("#colourid").val()
    //    });
    //    canvas.add(fabicText);
    //    //canvas1.add(fabicText);
    //    //fabicText.set({ fill: $("#colourid").val() });
    //}

    function call() {
        setTimeout(function () {   //calls click event after a certain time
            canvas.item(j).evented = false;
           canvas.item(j).hasControls = false;
        }, 1000);
    }



    function Deletetext() {
        debugger;
        var obj=canvas.getActiveObject();

        if (obj.type=="i-text")
        {

       
            canvas.remove(canvas.getActiveObject());
        }
        else
        {

        }



    }
    function SaveImage() {

    }

    // canvas.setActiveObject(fabicText);
    // canvas.renderAll();
    //var oText = new fabric.IText('Tap and Type', {
    //    left: 100,
    //    top: 100,
    //});
    //canvas.add(oText);


    //canvas.bringToFront(oText);
    //var bdd = "";
    //canvas.on("object:selected", function (options) {
    //    debugger

    //    if (options.target.text) {

    //        bdd = options;
    //        options.target.bringToFront();
    //    }
    //});

    //function Save() {

    //    var json_data = canvas.toDatalessJSON();
    //    LoaJsoncanavas(json_data);


    //}

    function LoaJsoncanavas(result) {




        canvas.loadFromJSON(result, canvas.renderAll.bind(canvas), function (o, object) {

            // fabric.log(o, object);
        });

        // var objectx = canvas.getObjects();
        call();
        //canvas.renderAll.bind(canvas);
        //objectx[1].hasControls = false;


    }
    // result.set({ fill: $("#colourid").val() });
    function saveImg() {
        alert("sd");
        debugger;
        // result = canvas1.toSVG();
        var imageData = canvas.toDataURL({
            format: 'jpeg',
            quality: 1,

        });

        imageData = imageData.replace('data:image/jpeg;base64,', '');
        var obj = {};
        obj.base64 = imageData;
        obj.Json = JSON.stringify(canvas.toDatalessJSON()),
        obj.Gtypeid = 1;
        obj.GimgTypeid = 1;
        obj.Gsubtypeid = 1;
        obj.GDescription = $("#Gddcptn").val();
        obj.GheadingMessage = $("#Gdhdname").val();




        $.ajax({
            type: 'POST',
            url: '/Admin/AddGreetingss',
            data: obj,
            success: function (result) {
                debugger;
                $("#div1").html(result);
            }
        });
        //$('#svg-tag').html(result);
    }

    function authUser() {
        FB.login(checkLoginStatus, { scope: 'email, user_likes, user_birthday, user_photos' });
    }

    //-- Check the result of the user status and display login button if necessary
    function checkLoginStatus(response) {
        if (response && response.status == 'connected') {
            console.log('User is authorized');
            console.log('Access Token: ' + response.authResponse.accessToken);

            //-- Hide the login button
            //document.getElementById('loginButton').style.display = 'none';

            //                    FB.api('/me/picture?width=180&height=180', function (response) {
            //                        console.log(response);

            //                        $('<img>', {
            //                            src: response.data.url
            //                        }).appendTo('body');
            //                    });

            //FB.api('/me/photos', function (response) {
            //    debugger;
            //});

            //FB.api('/me/friends', function (response) {
            //    debugger;
            //});

            FB.api('/me', { fields: 'first_name,last_name,name,id,email' }, function (response) {
               // debugger;
                //  var dsd = $("#jsonString").val();
              //calls click event after a certain time
                    UpdateFbprofile('https://graph.facebook.com/' + response.id + '/picture?type=large');


                // loadCanavas(json);

            })
        } else if (response.status === 'not_authorized') {
            // the user is logged in to Facebook, but has not authenticated your app
            console.log('User is not authorized');
        } else {
            // the user isn't logged in to Facebook.
            console.log('User is not logged into Facebook');

            //-- Display the login button
            //document.getElementById('loginButton').style.display = 'block';
        }


        //-- Load the SDK asynchronously



    }



    var FontFamily1 = "";
    $('#font').fontselect().change(function () {

        var font = $(this).val().replace(/\+/g, ' ');

        font = font.split(':');

        FontFamily1 = font[0];
        debugger;


        canvas.forEachObject(function (obj) {
            debugger;
            var resul = canvas.getActiveObject();
            debugger;
            if (obj === resul) {

              //  obj.set({ fill: "" });
                obj.set({ fontFamily: FontFamily1 });
                obj.canvas.renderAll();

            }
        });
    });

    function UpdateFbprofile(imgurl)
    {
        debugger;
        var json_data = canvas.toDatalessJSON();
        for (var i = 0; i < json_data.objects.length; i++) {
            
            var ssa = canvas.getActiveObject();
            if (json_data.objects[i].src ==ssa.src) {
               
                json_data.objects[i].src = imgurl;
                json_data.objects[i].crossOrigin = 'anonymous';
                break;
            }
        }

        LoaJsoncanavas(json_data)
        //canvas.loadFromJSON(json_data, canvas.renderAll.bind(canvas), function (o, object) {

            // fabric.log(o, object);
        //});


        //canvas.forEachObject(function (obj) {
        //    var resul = canvas.getActiveObject();
        //        resul.setSrc(imgurl);
        //        // obj.set({ fontFamily: FontFamily1 });
        //       canvas.renderAll();

           
        //});


        $("#myModal .close").click()
        canvas.discardActiveObject();
        canvas.renderAll();
    }


    function fbclk() {
        authUser();
    }

</script>
    <script>
       

    </script>


