﻿@model XtraWishesWeb.Models.Workord1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Weblayout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.2/fabric.min.js"></script>
<div class="mens">
    <div class="main">
        <div class="wrap">
            <ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="#">Dolor sit amet</a> / Lorem ipsum dolor sit amet</ul>
            <div class="cont span_2_of_3">
                <div class="grid images_3_of_2">
                    <ul id="etalage" class="etalage" style="display: block; width: 362px; height: 486px;">
                        <li class="etalage_thumb thumb_1" style="display: none; opacity: 0; background-image: none;">
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="~/Content/web/images/s-img.jpg" style="display: inline; width: 360px; height: 360px; opacity: 1;">
                                <img class="etalage_source_image" src="~/Content/web/images/s1.jpg" title="">
                            </a>
                        </li>
                        <li class="etalage_thumb thumb_2" style="display: none; opacity: 0; background-image: none;">
                            <img class="etalage_thumb_image" src="~/Content/web/images/s-img1.jpg" style="display: inline; width: 360px; height: 360px; opacity: 1;">
                            <img class="etalage_source_image" src="~/Content/web/images/s2.jpg" title="">
                        </li>
                        <li class="etalage_thumb thumb_3" style="background-image: none; display: none; opacity: 0;">
                            <img class="etalage_thumb_image" src="~/Content/web/images/s-img2.jpg" style="display: inline; width: 360px; height: 360px; opacity: 1;">
                            <img class="etalage_source_image" src="~/Content/web/images/s3.jpg">
                        </li>
                        <li class="etalage_thumb thumb_4 etalage_thumb_active" style="background-image: none; display: list-item; opacity: 1;">
                            <a href="/Edit/@Model.jsonid">
                                <img class="etalage_thumb_image" id="UserImage" src="@Model.Showimgpath" style="display: inline; width: 460px; height: 600px; opacity: 1;">
                            </a>
                            @*<img class="etalage_source_image" src="~/Content/web/images/s-img3.jpg">*@
                        </li>
                        <li class="etalage_magnifier" style="margin: 0px; padding: 0px; left: 0px; top: 0px; display: list-item; opacity: 0;"><div style="margin: 0px; padding: 0px; width: 240px; height: 194px;"><img src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s4.jpg" style="margin: 0px; padding: 0px; width: 360px; height: 360px; display: inline; left: 0px; top: 0px;"></div></li>
                        <li class="etalage_icon" style="display: list-item; top: 238px; left: 20px; opacity: 1;">&nbsp;</li>
                        <li class="etalage_hint" style="display: none; margin: 0px; top: -15px; right: -15px;">&nbsp;</li>
                        <li class="etalage_zoom_area" style="margin: 0px; opacity: 0; left: 372px; display: list-item; background-image: none;"><div class="etalage_description" style="width: 560px; bottom: 0px; left: 0px; opacity: 0.7; display: none;"></div><div style="width: 600px; height: 486px;"><img class="etalage_zoom_img" src="~/Content/web/images/s-img3.jpg" style="width: 900px; height: 900px; left: -250px; top: -248.717px;"></div></li>
                        <li class="etalage_small_thumbs" style="width: 362px; top: 372px;"><ul style="width: 844px;"><li class="etalage_smallthumb_navtoend" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s4.jpg" width="112" style="width: 112px; height: 112px;"></li><li class="" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s-img.jpg" width="112" style="width: 112px; height: 112px;"></li><li class="" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s-img1.jpg" width="112" style="width: 112px; height: 112px;"></li><li class="etalage_smallthumb_first" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s-img2.jpg" width="112" style="width: 112px; height: 112px;"></li><li class="etalage_smallthumb_active" style="opacity: 1; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s4.jpg" width="112" style="width: 112px; height: 112px;"></li><li class="etalage_smallthumb_navtostart etalage_smallthumb_last" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: -282px;"><img class="etalage_small_thumb" src="file:///C:/Users/vedaant/Downloads/leoshop-web/web/images/s-img.jpg" width="112" style="width: 112px; height: 112px;"></li></ul></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <input type="hidden" id="Json" />
                <div class="desc1 span_3_of_2">
                    <input type="button" onclick="save()" value="saveimage" />
                    <h3 class="m_3">Lorem ipsum dolor sit amet</h3>
                    <p class="m_5">Rs. 888 <span class="reducedfrom">Rs. 999</span> <a onclick="fbclk()">click for offer</a></p>
                    <span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span>
                    <div class="btn_form">
                        <form>
                            <a href="/Edit/@Model.jsonid">Edit</a>
                           
                                @*<input type="submit"  title="">*@
                          </form>
                    </div>
                    <span class="m_link"><a href="#">login to save in wishlist</a> </span>
                    <p class="m_text2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit </p>
                </div>
                <input type="hidden" value="@Model.Jsonstring" id="jsonString" />
                <div class="clear"></div>
                <div class="clients" style="padding-top:250px">
                    <h3 class="m_3">10 Other Products in the same category</h3>
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -187.2px; display: block;">
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s9.jpg"><a href="#">Category</a><p>Rs 750</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s5.jpg"><a href="#">Category</a><p>Rs 600</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s6.jpg"><a href="#">Category</a><p>Rs 850</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s7.jpg"><a href="#">Category</a><p>Rs 900</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s8.jpg"><a href="#">Category</a><p>Rs 550</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s9.jpg"><a href="#">Category</a><p>Rs 750</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s5.jpg"><a href="#">Category</a><p>Rs 600</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s6.jpg"><a href="#">Category</a><p>Rs 850</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s7.jpg"><a href="#">Category</a><p>Rs 900</p></li>
                                <li class="nbs-flexisel-item" style="width: 187.2px;"><img src="~/Content/web/images/s8.jpg"><a href="#">Category</a><p>Rs 550</p></li>
                            </ul><div class="nbs-flexisel-nav-left" style="top: 72.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 72.5px;"></div>
                        </div>
                    </div>
                    @*<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel();
			$("#flexiselDemo2").flexisel({
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

		});
                    </script>
                    <script type="text/javascript" src="js/jquery.flexisel.js"></script>*@
                </div>
                <div class="toogle">
                    <h3 class="m_3">Product Details</h3>
                    <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </div>
                <div class="toogle">
                    <h3 class="m_3">More Information</h3>
                    <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </div>
                <div class="card">
                    <canvas id="c" width="450" height="650" style="border:1px solid #ccc"></canvas>
                </div>
            </div>
            <div class="rsingle span_1_of_single">
                <h5 class="m_1">Categories</h5>
                <div class="metro">
                    <span class="old">
                        <select class="" tabindex="8" data-settings="{&quot;wrapperClass&quot;:&quot;metro&quot;}" id="EasyDropDown54C8A4">
                            <option value="1">Mens</option>
                            <option value="2">Sub Category1</option>
                            <option value="3">Sub Category2</option>
                            <option value="4">Sub Category3</option>
                        </select>
                    </span><span class="selected">Mens</span><span class="carat"></span><div><ul><li class="active">Mens</li><li>Sub Category1</li><li>Sub Category2</li><li>Sub Category3</li></ul></div>
                </div>
                <div class="metro">
                    <span class="old">
                        <select class="" tabindex="8" data-settings="{&quot;wrapperClass&quot;:&quot;metro&quot;}" id="EasyDropDown0F70FB">
                            <option value="1">Womens</option>
                            <option value="2">Sub Category1</option>
                            <option value="3">Sub Category2</option>
                            <option value="4">Sub Category3</option>
                        </select>
                    </span><span class="selected">Womens</span><span class="carat"></span><div><ul><li class="active">Womens</li><li>Sub Category1</li><li>Sub Category2</li><li>Sub Category3</li></ul></div>
                </div>
                <ul class="kids">
                    <li><a href="#">Kids</a></li>
                    <li class="last"><a href="#">Glasses Shop</a></li>
                </ul>
                <section class="sky-form">
                    <h4>Price</h4>
                    <div class="row row1 scroll-pane jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 285px;">


                        <div class="jspContainer" style="width: 285px; height: 200px;">
                            <div class="jspPane" style="padding: 20px; width: 238px; top: 0px;">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Rs 500 - Rs 700</label>
                                </div><div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 700 - Rs 1000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1000 - Rs 1500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1500 - Rs 2000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2000 - Rs 2500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2500 - Rs 3000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 3500 - Rs 4000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4000 - Rs 4500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4500 - Rs 5000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5000 - Rs 5500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5500 - Rs 6000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6000 - Rs 6500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6500 - Rs 7000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7000 - Rs 7500</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7500 - Rs 8000</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 8000 - Rs 8500</label>
                                </div>
                            </div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 200px;"><div class="jspDrag" style="height: 76px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Brand Name</h4>
                    <div class="row row1 scroll-pane jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 285px;">


                        <div class="jspContainer" style="width: 285px; height: 200px;">
                            <div class="jspPane" style="padding: 20px; width: 238px; top: 0px;">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>John Jacobs</label>
                                </div><div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tag Heuer</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Lee Cooper</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Mikli</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S Oliver</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hackett</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Killer</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>IDEE</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vogue</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gunnar</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Accu Reader</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>CAT</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Excellent</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Feelgood</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Odysey</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Animal</label>
                                </div>
                            </div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 200px;"><div class="jspDrag" style="height: 76px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Frame Shape</h4>
                    <div class="row row1 scroll-pane jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 285px;">


                        <div class="jspContainer" style="width: 285px; height: 200px;">
                            <div class="jspPane" style="padding: 20px; width: 238px; top: 0px;">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Pilot</label>
                                </div><div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rectangle</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Square</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Round</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Others</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Cat Eyes</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Wrap Around</label>
                                </div>
                            </div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 200px;"><div class="jspDrag" style="height: 161px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Frame Size</h4>
                    <div class="row row1 scroll-pane" style="overflow: hidden; padding: 0px; width: 285px;">


                        <div class="jspContainer" style="width: 285px; height: 200px;">
                            <div class="jspPane" style="padding: 20px; top: 0px; left: 0px; width: 245px;">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Small</label>
                                </div><div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Medium</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Large</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Medium</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Large</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Frame Type</h4>
                    <div class="row row1 scroll-pane" style="overflow: hidden; padding: 0px; width: 285px;">


                        <div class="jspContainer" style="width: 285px; height: 200px;">
                            <div class="jspPane" style="padding: 20px; top: 0px; left: 0px; width: 245px;">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Full Rim</label>
                                </div><div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rim Less</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Half Rim</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rim Less</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Half Rim</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Colors</h4>
                    <ul class="color-list">
                        <li><a href="#"> <span class="color1"> </span><p class="red">Red</p></a></li>
                        <li><a href="#"> <span class="color2"> </span><p class="red">Green</p></a></li>
                        <li><a href="#"> <span class="color3"> </span><p class="red">Blue</p></a></li>
                        <li><a href="#"> <span class="color4"> </span><p class="red">Yellow</p></a></li>
                        <li><a href="#"> <span class="color5"> </span><p class="red">Violet</p></a></li>
                        <li><a href="#"> <span class="color6"> </span><p class="red">Orange</p></a></li>
                        <li><a href="#"> <span class="color7"> </span><p class="red">Gray</p></a></li>
                    </ul>
                </section>
                <script src="js/jquery.easydropdown.js"></script>
            </div>
        </div>
    </div>


   
    <div class="clear"></div>
</div>

<script>

    var baseUrl = "@System.Configuration.ConfigurationManager.AppSettings["localbaseurl"].ToString()";
    

    var canvas = window._canvas = new fabric.Canvas('c');
    function loadCanavas(json)
    {
       
       



        canvas.loadFromJSON(json, canvas.renderAll.bind(canvas), function (o, object) {

                // fabric.log(o, object);
        });

      //  var image = imageData.replace('data:image/jpeg;base64,', '');

            //$.ajax({
            //    url: "/Admin/SvaeFile",
            //    data:{base64:image},
            //    type: "POST",
            //    success: function (result) {
            //        debugger;

            //        $("#UserImage").attr('src', result);
            //        //$("#div1").html(result);
            //    }
            //});



            // var objectx = canvas.getObjects();
           call();
            //canvas.renderAll.bind(canvas);
            //objectx[1].hasControls = false;


    }





    function call() {
        setTimeout(function () {   //calls click event after a certain time
            var imageData = canvas.toDataURL({
                format: 'jpeg',
                quality: 1,

            });
            debugger;
            $("#UserImage").attr('src', imageData);
            var image = imageData.replace('data:image/jpeg;base64,', '');

            //$.ajax({
            //    url: "/Admin/SvaeFile",
            //    data: { base64: image },
            //    type: "POST",
            //    success: function (result) {
            //        debugger;

            //        $("#UserImage").attr('src', result);
            //        //$("#div1").html(result);
            //    }
            //});
        }, 1000);
    }

 




  
    



</script>
<script>
    $(document).ready(function () {
        $('.fb-login').on('click', function (e) {
            e.preventDefault();
            authUser();
        });
    });

 
</script>